# # This is an example of your .env file format, which pnpm db:setup will create.
# # Note: this must be .env, not .env.local, without further configuration changes.
# POSTGRES_URL=postgresql://***
# STRIPE_SECRET_KEY=sk_test_***
# STRIPE_WEBHOOK_SECRET=whsec_***
# BASE_URL=http://localhost:3000
# AUTH_SECRET=***


POSTGRES_URL=postgresql://postgres.lgpueulwhfcneyggthjh:21R11a6638@%40aws-0-us-west-2.pooler.supabase.com:5432/postgres
BASE_URL=http://localhost:3000
AUTH_SECRET=dOq+2R2dJegStbxoLc2dYLwEFqUUGjc6OhkClqVOMWY=