# # This is an example of your .env file format, which pnpm db:setup will create.
# # Note: this must be .env, not .env.local, without further configuration changes.
# POSTGRES_URL=postgresql://***
# STRIPE_SECRET_KEY=sk_test_***
# STRIPE_WEBHOOK_SECRET=whsec_***
# BASE_URL=http://localhost:3000
# APP_URL=http://localhost:3000
# AUTH_SECRET=***
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=your_email@gmail.com
# SMTP_PASS=your_app_password
# SMTP_FROM="LiveKit Clone <your_email@gmail.com>"


POSTGRES_URL=postgresql://postgres.lgpueulwhfcneyggthjh:21R11a6638@%40aws-0-us-west-2.pooler.supabase.com:5432/postgres
BASE_URL=http://localhost:3000
AUTH_SECRET=dOq+2R2dJegStbxoLc2dYLwEFqUUGjc6OhkClqVOMWY=
